$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

$z-fixed-menu: 100;

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

//normalize
@import "_misc/normalize.scss";

@import "_misc/media.scss";

// setups
@import "_misc/mixins.scss";
@import "_misc/_fonts.scss";
@import "_misc/layout.scss";


@import "blocks/*.scss";
// @import "blocks/_hero";
// @import "blocks/header.scss";
// @import "blocks/hamburger-menu-link";
// @import "blocks/menu.scss";
// @import "blocks/_btn.scss";
// @import "blocks/title.scss";
// @import "blocks/scroll-down-btn.scss";
// @import "blocks/best.scss";
// @import "blocks/_burgers.scss";
// @import "blocks/dropdown.scss";
// @import "blocks/_team";
// @import "blocks/menu-acco.scss";
// @import "blocks/reviews.scss";
// @import "blocks/_popup.scss";
// @import "blocks/_order.scss";
// @import "blocks/form";
// @import "blocks/_map";
// @import "blocks/footer.scss";
// @import "blocks/socials.scss";
// @import "blocks/_mobile-menu.scss";
// @import "blocks/_fixed-menu.scss";
