$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

$z-fixed-menu: 100;

$phones: 480px;
$tablets: 768px;
$laptop: 992px;
$desktop: 1200px;

//normalize
@import "_misc/normalize.scss";

@import "_misc/media";

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/layout";


@import "blocks/_section.scss";
@import "blocks/_hero";
@import "blocks/header.scss";
@import "blocks/hamburger-menu-link.scss";
@import "blocks/menu.scss";
@import "blocks/_btn.scss";
@import "blocks/title.scss";
@import "blocks/scroll-down-btn.scss";
@import "blocks/best.scss";
@import "blocks/_team.scss";
@import "blocks/_menu-acco";
@import "blocks/reviews";
@import "blocks/_order.scss";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/socials";
@import "blocks/_fixed-menu";
