.best {
    background: url('../img/fons/bg.png') center center /cover no-repeat;
}
.best__list {
    display: flex;
  }
  
  .best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  .best__picture {
    margin-bottom: rem(34px);
  }
  
  .best__desc h3 {
    font-size: rem(24px);
    @include lifehack();
    margin-bottom: rem(33px);
  }