.best {
    background: url('../img/fons/bg.png') center center /cover no-repeat;

    @include phones {
      background: url('../img/fons/best-phones.png') center center no-repeat;
      height: 100%;
    }
}
.best__list {
    display: flex;

    @include phones {
      flex-direction: column;
    }
  }
  
  .best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;
  
    &:last-child {
      margin-right: 0;
    }

    @include phones {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      margin-bottom: rem(10px);
      margin-right: 0;
    }
  }
  
  .best__picture {
    margin-bottom: rem(34px);

    @include phones {
      width: 25%;
      text-align: center;
    }
  }
  
  .best__desc h3 {
    font-size: rem(24px);
    @include lifehack();
    margin-bottom: rem(33px);
  
  }

  .best__desc {
    @include ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: 24.09px;
    @include phones {
      width: 70%;
    }
  }