.btn {
    padding: rem(12px) rem(15px);
    border-radius: rem(5px);
    background: $red;
    text-transform: uppercase;
    color: #fff;
    font-size: rem(13px);
    margin-right: rem(30px);
  }
  