.mobile-menu {
	position: fixed;
	left: -99999px;
	right: 0;
	background: rgba(47, 50, 52, 0.95);
	align-items: center;
	justify-content: center;
	z-index: 5;
	opacity: 0;
	transition: opacity .3s;
	text-align: center;
	&.active {
		display: flex;
		opacity: 1;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 1;
	}
}

.mobile-menu__item {
	&:after {
		content: "";
		display: block;
		// vertical-align: middle;
		width: 0.25rem;
		height: 0.25rem;
		border-radius: 50%;
		background: white;
		margin: rem(15px) auto;
	}
	&:last-child:after {
		display: none;
	}
}

.mobile-menu__link {
	display: inline-block;
	font-size: rem(24px);
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	@include ubuntu;
	font-weight: 500;
	border-bottom: 2px solid transparent;
	transition: .4s;
	&:hover {
		border-bottom: 2px solid #fff;
	}
}