// .reviews {
//     height: 100%;
//     display: flex;
//     flex-wrap: wrap;

// }

.reviews__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.reviews__item {
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    position: relative;
    filter: grayscale(100%);

    @include tablets {
        width: 50%;
        height: 25%;
        
    }

    &:hover {
        .reviews__hover {
            opacity: 1;
        }
    }
}

.reviews__hover {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(20, 20, 20, .7);
    padding: rem(50px) rem(19px) rem(19px);
    opacity: 0;
    transition: opacity .3s;

    @include tablets {
        padding: 5%;
        text-align: center;
    }
    @include phones {
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &>h4 {
        color: #fff;
        @include gagalin;
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(11px);
        @include phones {
            @include gagalin;
            font-size: rem(24px);
            font-weight: 400;
        }
    }

}

.reviews__hover p {
    color: #fff;
    @include ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    // margin-bottom: rem(17px);

    @include phones {
        display: none;
    }
}