.video {
    background: url('../img/fons/BG_.png') center center / cover no-repeat;
    display: flex;
    align-items: center;
    position: relative;

    .section__title {
      position: absolute;
      top: 0;
    }

    .container {
        align-items: center;
    }
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.duration {
  width: rem(50px);
  height: rem(50px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #626262;
  @include ubuntu;
  overflow: hidden;
  width: 75%;
  
}

.player__controls {
  width: 85%;
  height: rem(50px);
  background-color: #3e3e3e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;

}

.player__duration {
  color: #626262;
  font-size: .8rem;
}

#durationLevel::-webkit-duration#durationLevel-bar {
  cursor: pointer;
  border-radius: rem(10px);
  height: rem(5px);
  margin: auto;
}

#durationLevel {
  height: rem(4px);
  width: 90%;
  border-radius: rem(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#durationLevel::-webkit-duration#durationLevel-value {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #626262;
  border-radius: rem(5px);
}

#video {
  cursor: pointer;
  width: 100%;
  max-height: 100%;
}

.sound {
  display: flex;
  width: 20%;
  align-items: center;
}

.playback__way {
  -webkit-appearance: none;
  height: rem(4px);
  width: rem(60px);
  border-radius: rem(2px);
  background-color: #626262;
  cursor: pointer;
}

.playback__way::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: rem(15px);
  width: rem(15px);
  border-radius: 50%;
  background-color: #626262;
  cursor: pointer;
}

.sound__volume {
  // padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound__img {
  fill: #626262;
  height: 3rem;
  width: 3rem;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__play {
  fill: #fff;
  height: 10rem;
  width: 10rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: display 1s;
  &--active {
    display: none;
  }
}

.play-button {
  fill: #626262;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}


#pauseBtn {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  width: 3rem;
  height: 3rem;
  fill: #626262;
  &:after {
      content: '';
      display: inline-block;
      height: 50%;
      width: 20%;
      background-color: #626262;
      border-radius: rem(2px);
  }
  &:before {
      content: '';
      display: inline-block;
      height: 50%;
      width: 20%;
      background-color: #626262;
      border-radius: rem(2px);
  }
}

.work__volume-x {
  color: #fff;
  font-size: 1rem;
  @include ubuntu;
  position: absolute;
  left: -25%;
  display: none;
}